<!-- Creating s simple form to input two numbers and Add/Subtract them -->

<!-- Process 1 -->
<!-- Enter Num 1: <input type="number" #num1><br> 
Enter Num 2: <input type="number" #num2><br> -->
<!-- #num1 – capture the values -->

<!-- <button (click)="addNum1(num1.value, num2.value)"> + </button>
<button (click)="subNum1(num1.value, num2.value)"> - </button> -->


<!-- Process 2 -->
<!-- <button (click)="addNum2(num1.value, num2.value)"> + </button>
<button (click)="subNum2(num1.value, num2.value)"> - </button> -->



<!-- Process 3 -->
<!-- distribute the HTML in the respective components -->
<app-form></app-form>
<!-- <app-button></app-button> -->
<!-- <app-button (addBtnClicked)="logConsole()"></app-button> -->
<!-- <app-button (addBtnClicked)="logConsole()" (subBtnClicked)="subConsole()"></app-button> -->
<!-- this is coming from the child component.ts, i.e. button.ts and then it will call the logConsole function from the app.ts file -->


<!-- Process 4 -->
<app-button (addBtnClicked)="logConsole($event)"></app-button>
<!-- the $event will capture the message/string from the buttons and pass it through -->

<!-- Page browsing, Process 1 -->
<!-- simple page increment/decrement by clicking the buttons -->
<!-- <br><br>
<h4>Total Pages: {{numberOfPages.length}}</h4>
<h1>{{pageNum}}</h1>
<button (click)="prevPage()">Previous</button>
<button (click)="nextPage()">Next</button> -->



<!-- Page browsing, Process 2 -->
<br><br>
<h4>Total Pages: {{numberOfPages.length}}</h4>
<h1>{{numberOfPages[pageNum]}}</h1>
<button (click)="prevPage()" *ngIf="prevButton">Previous</button>
<button (click)="nextPage()" *ngIf="nextButton">Next</button>