<app-nav-bar></app-nav-bar>
<app-text-area (userTextChanged)="userText = $event"></app-text-area>
<app-buttons [userText]="userText"></app-buttons>






<!-- navbar -->
<!-- <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white;">TextInfo</a>
  </div>
</nav> -->

<!-- textarea -->
<!-- <div>
  <textarea class="text-area" placeholder="Please Enter Your Text Here..." id="floatingTextarea" #userText
    (input)="countCharLength(userText)" (input)="countWordLength(userText)"></textarea>
</div> -->

<!-- buttons -->
<!-- <div class="btnFlex">
  <button class="btn btn-outline-danger btn-sm" (click)="capText(userText)">Capitalize All Text</button>

  <button class="btn btn-outline-danger btn-sm" (click)="lowerText(userText)">Lower All Text</button>

  <button class="btn btn-outline-danger btn-sm" (click)="firstCharCap(userText)">First Character Capital</button>

  <button class="btn btn-outline-danger btn-sm" (click)="copyText(userText)">Copy Text</button>

  <button class="btn btn-outline-danger btn-sm" (click)="countCharLength(userText)">Character Count:
    {{characterCount}}</button>

  <button class="btn btn-outline-danger btn-sm" (click)="countWordLength(userText)">Word Count: {{wordCount}}</button>

</div> -->