<nav class="navbar navbar-light bg-dark" style="margin-bottom: 20px;">
  <div class="container-fluid ">
    <h3> <a href="https://randomuser.me/" target="_blank" style="color: white;">Random User 2</a>
    </h3>
    <a class="btn btn-outline-secondary" href="https://randomuser.me/api" target="_blank">View details »</a>
  </div>
</nav>

<div>
  <input type="radio" [(ngModel)]="selectedGender" name="gender" id="both" value="both" checked>
  <label for="both">Both</label>
  <input type="radio" [(ngModel)]="selectedGender" name="gender" id="male" value="male">
  <label for="male">Male</label>
  <input type="radio" [(ngModel)]="selectedGender" name="gender" id="female" value="female">
  <label for="female">Female</label>
</div>

{{selectedGender}}

<!-- <div>
  <input type="radio" [defaultChecked]="true" name="gender" id="both" value="Both">
  <label for="both">Both</label>
  <input type="radio" name="gender" id="male" value="Male">
  <label for="male">Male</label>
  <input type="radio" name="gender" id="female" value="Female">
  <label for="female">Female</label>
</div> -->

<div *ngFor="let apiResults of randomApiData" style="text-align: center;">

  <!-- Show Image -->
  <img [src]="apiResults.picture.large" style="margin: 20px auto; background-color: gray;"
    class="bd-placeholder-img rounded-circle" width="300" height="300" alt="">
  <br>

  <!-- Buttons -->
  <button [class]="nameButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="showHideName()">
    {{nameButton ? 'Hide Name' : 'Show Name'}}</button>

  <button [class]="emailButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="showHideEmail()">
    {{emailButton ? "Hide Email" : "Show Email"}}</button>

  <button [class]="birthdayButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="showHideBirthday()">
    {{birthdayButton ? 'Hide Birthday' : 'Show Birthday'}}</button>

  <button [class]="locationButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="showHideLocation()">
    {{locationButton ? 'Hide Location' : 'Show Location'}}</button>

  <button class="btn btn-danger" (click)="refresh()">Next Profile</button>
  <br><br>



  <!-- Display fields -->
  <div *ngIf="displayName">
    <h1 id="myName" class="fw-normal" style="color: red;">{{apiResults.name.first}} {{apiResults.name.last}}</h1>
  </div>

  <div *ngIf="displayEmail">
    <h4 id="myName" class="fw-normal">{{apiResults.email}}</h4>
  </div>

  <div *ngIf="displayBirthday">
    <!-- <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'short'}}, (Age: {{apiResults.dob.age}})</h5>
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'long'}}, (Age: {{apiResults.dob.age}})</h5>
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'medium'}}, (Age: {{apiResults.dob.age}})</h5>
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'shortDate'}}, (Age: {{apiResults.dob.age}})</h5> -->
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'mediumDate'}} – (Age: {{apiResults.dob.age}})</h5>

    <h5 id="myName" class="fw-normal">{{userBirthday}} | (Age: {{apiResults.dob.age}})</h5>
  </div>

  <div *ngIf="displayLocation">
    <h5 id="myName" class="fw-normal">{{apiResults.location.city}}, {{apiResults.location.state}},
      {{apiResults.location.country}}</h5>
  </div>

</div>