<!-- Process 4 -->
<h1>click the button and check console</h1>
<h3>passing different/custom message/string using ONLY ONE COMMON FUNCTION</h3>

<!-- passing different/custom message/string using the same function -->

<!-- <button (click)="btnClick('Add Btn Was Clicked')"> – </button> -->
<button (click)="btnClick('custom message for the \'+\' button')"> + </button>
<!-- custom message for the '+' button -->

<button (click)="btnClick('Sub Btn Was Clicked')"> – </button>
<!-- custom message for the '-' button -->