<div class="container">
    <nav class="navbar navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="''" type="button">Basic ROUTING</a>
            <span>
                <a class="navbar-brand" [routerLink]="'/todo'" type="button">ToDo</a>
                <a class="navbar-brand" [routerLink]="'/todo/display'" type="button">Display</a>
                <a class="navbar-brand" [routerLink]="'/todo/alert'" type="button">Alert</a>
            </span>
        </div>
    </nav>
</div>