<form class="form1">
    <div class="mb-3">
        <label class="form-label">Employee Name</label>
        <input type="text" class="form-control" #userName>
    </div>
    <div class="mb-3">
        <label class="form-label">Profile Image</label>
        <input type="text" class="form-control" #userImage>
    </div>
    <div class="mb-3">
        <label class="form-label">Job Title</label>
        <input type="text" class="form-control" #userJobTitle>
    </div>

    <button type="submit" (click)="submitButton(userName.value, userImage.value, userJobTitle.value)"
        class="btn btn-primary" [routerLink]="''">Submit</button>
</form>