<app-input-field [name]="info.cta.name" [isInput]="info.cta.isInput"></app-input-field>

<app-input-field [name]="info.headline.name" [isInput]="info.headline.isInput"
    [id]="info.headline.id"></app-input-field>

<app-input-field [name]="info.banner.name" [isInput]="info.banner.isInput"></app-input-field>

<app-input-field [name]="info.ads.name" [isInput]="info.ads.isInput"></app-input-field>

<!-- <app-btn [text]="info.cta.name"></app-btn> -->
<!-- <app-btn [text]="info.headline.btn"></app-btn> -->
<!-- <app-btn [text]="info.banner.btn"></app-btn> -->
<!-- <app-btn [text]="info.ads.btn"></app-btn> -->


<!-- <app-drop [title]="drop.theme.title" [default]="drop.theme.default" [options]="drop.theme.options"></app-drop> -->
<!-- 
<app-drop [title]="drop.style.title" [default]="drop.style.default" [options]="drop.style.options"></app-drop> -->

<app-ng-switch></app-ng-switch>