<nav class="navbar navbar-light bg-dark" style="margin-bottom: 20px;">
  <div class="container-fluid ">
    <h1><a class="navbar-brand" style="color: white;">Random User</a></h1>
  </div>
</nav>

<!-- <button (click)="getData()" class="btn btn-primary">Get Data</button> -->

<!-- <h1>Name:</h1> -->

<div *ngFor="let apiResults of randomApiData">
  First Name: {{apiResults.name.first}} <br>
  Last Name: {{apiResults.name.last}} <br>
  Email: {{apiResults.email}} <br>
  Birthday: {{apiResults.dob.date}} <br>
  Age: {{apiResults.dob.age}} <br>
  Gender: {{apiResults.gender}} <br>
  <img [src]="apiResults.picture.large" alt="">

</div>

<div style="text-align: center;">
  <div class="col-lg-4" style="margin: auto;">
    <svg style="margin: 20px auto;" class="bd-placeholder-img rounded-circle" width="200" height="200"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice"
      focusable="false">
      <rect width="100%" height="100%" fill="gray"></rect>
    </svg>


    <div style="margin: 10px auto">
      <button class="btn btn-secondary" onclick="showName()" id="showName" style="display: inline;">Show
        Name</button>&nbsp;
      <button class="btn btn-secondary" onclick="hideName()" id="hideName" style="display: none;">Hide
        Name</button><br>
      <h3 id="myName" class="fw-normal" style="display: none;">myFullName</h3>
    </div>

    <div style="margin: 10px auto">
      <button class="btn btn-secondary" onclick="showEmail()" id="showEmail" style="display: inline;">Show
        Email</button>&nbsp;
      <button class="btn btn-secondary" onclick="hideEmail()" id="hideEmail" style="display: none;">Hide
        Email</button><br>
      <h3 id="myEmail" class="fw-normal" style="display: none;">myEmail</h3>
    </div>

    <div style="margin: 10px auto">
      <button class="btn btn-secondary" onclick="showBirthday()" id="showBirthday" style="display: inline;">Show
        Birthday</button>&nbsp;
      <button class="btn btn-secondary" onclick="hideBirthday()" id="hideBirthday" style="display: none;">Hide
        Birthday</button><br>
      <h3 id="myBirthday" class="fw-normal" style="display: none;">myBirthday</h3>
    </div>




    <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
  </div>
</div>