<button class="btn btn-outline-danger btn-sm">{{buttonsLabel}}</button>


<div class="btnFlex">
  <!-- <button class="btn btn-outline-danger btn-sm" type="submit" (click)="capText(userText.value)">Capitalize All
    Text</button> -->
  <!-- <button class="btn btn-outline-danger btn-sm" (click)="lowerText(userText)">Lower All Text</button>
  <button class="btn btn-outline-danger btn-sm" (click)="firstCharCap(userText)">First Character Capital</button>
  <button class="btn btn-outline-danger btn-sm" (click)="copyText(userText)">Copy Text</button>
  <button class="btn btn-outline-danger btn-sm" (click)="countCharLength(userText)">Character Count:
    {{characterCount}}</button>
  <button class="btn btn-outline-danger btn-sm" (click)="countWordLength(userText)">Word Count: {{wordCount}}</button> -->
</div>