<div id="carousel-region">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="user-select: auto;">
        <ol class="carousel-indicators" style="user-select: auto;">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="user-select: auto;"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="" style="user-select: auto;"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" style="user-select: auto;"></li>
        </ol>

        <div class="carousel-inner" style="user-select: auto;">
            <div class="carousel-item active" style="user-select: auto;">
              <img class="first-slide" src="https://www.pngmagic.com/product_images/3d-abstract-background-orange.jpg" alt="First slide" style="user-select: auto;">
              <div class="container" style="user-select: auto;">
                <div class="carousel-caption text-left" style="user-select: auto;">
                  <h1 style="user-select: auto;">Best Encyclopedia</h1>
                  <p style="user-select: auto;">I am Encyclopedia, I am best.</p>
                  <p style="user-select: auto;"><a class="btn btn-lg btn-primary" href="/sign-up" role="button" style="user-select: auto;">Sign up today</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item" style="user-select: auto;">
              <img class="second-slide" src="https://www.pngmagic.com/product_images/3d-abstract-background-orange.jpg" alt="Second slide" style="user-select: auto;">
              <div class="container" style="user-select: auto;">
                <div class="carousel-caption" style="user-select: auto;">
                  <h1 style="user-select: auto;">Nice UI</h1>
                  <p style="user-select: auto;">Wonderful</p>
                  <p style="user-select: auto;"><a class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Cashback" role="button" style="user-select: auto;">Learn more</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item" style="user-select: auto;">
              <img class="third-slide" src="https://www.pngmagic.com/product_images/3d-abstract-background-orange.jpg" alt="Third slide" style="user-select: auto;">
              <div class="container" style="user-select: auto;">
                <div class="carousel-caption text-right" style="user-select: auto;">
                  <h1 style="user-select: auto;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, neque.</h1>
                  <p style="user-select: auto;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur quasi earum rerum distinctio, nam fugiat neque, optio, ab error quam qui quas aliquid cupiditate soluta beatae temporibus sunt iusto.</p>
                  <p style="user-select: auto;"><a class="btn btn-lg btn-primary" href="/login" role="button" style="user-select: auto;">Login</a></p>
                </div>
              </div>
            </div>
          </div>

          <!--
        <div class="carousel-inner" role="listbox" style=" height: 500px !important;">
        <div class="carousel-item active" style="user-select: auto;">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17beacca899%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17beacca899%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.921875%22%20y%3D%22217.7609375%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="user-select: auto;">
        </div>
        <div class="carousel-item" style="user-select: auto;">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17beacca89b%20text%20%7B%20fill%3A%23444%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17beacca89b%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22247.3125%22%20y%3D%22217.7609375%22%3ESecond%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="user-select: auto;">
        </div>
        <div class="carousel-item" style="user-select: auto;">
            <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&amp;bg=555&amp;fg=333&amp;text=Third slide" alt="Third slide" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17beacca89c%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17beacca89c%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22277%22%20y%3D%22217.7609375%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="user-select: auto;">
        </div>
        </div>-->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" style="user-select: auto;">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="user-select: auto;"></span>
        <span class="sr-only" style="user-select: auto;">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" style="user-select: auto;">
        <span class="carousel-control-next-icon" aria-hidden="true" style="user-select: auto;"></span>
        <span class="sr-only" style="user-select: auto;">Next</span>
        </a>
    </div>
</div>
