<h1>Router-Outlet</h1>
<div>
  <button class="btn btn-secondary">Previous</button>
  <span>&nbsp;</span>
  <button class="btn btn-secondary">Next</button>
</div>
<ul>
  <!-- method 1 using the direct link -->
  <li><a href="/">Home Page</a></li>


  <!-- method 2 using the directives -->
  <li><a routerLink="/myAbout">About Us</a></li>
  <!-- <li><a routerLink={{contentrouting}}>About Us</a></li> -->

  <!-- method 3 using as an attribute -->
  <!-- should only be used parent to Child or Child to Parent -->
  <!-- whenever we have to get or send something from the TypeScript -->
  <li><a [routerLink]="['/myAbout']">About Us</a></li>

  <!-- method 3 using as an Event Listener -->
  <li><a (click)="onClick()">Contact Info</a></li>

</ul>

<!-- <div>
  <app-home></app-home>
  <app-about></app-about>
</div> -->

<!-- We have to specify how we'll display the component, 
  so we'll use the 'router-outlet' directive here. The Angular will now understand that a specific component will be displayed here -->
<router-outlet></router-outlet>


<!-- <a routerLink="/users/sammy">Link that uses a string.</a> -->