.text-area{
    width: 80%;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    color: white;
    background-color: rgb(132, 161, 81);
}

::placeholder{
    color: white;
}

@media (min-width: 768px){
    .text-area{
        width: 700px;
    }
}