<!-- Buttons -->
<!-- <button [class]="nameButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'"
    (click)="nameButton ? showHideName(): tempFunc()">{{nameButton ? 'Hide Name' : 'Show Name'}}</button> -->

<button [class]="nameButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="showHideName()">
    {{nameButton ? 'Hide Name' : 'Show Name'}}</button>

<button [class]="emailButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="showHideEmail()">
    {{emailButton ? "Hide Email" : "Show Email"}}</button>

<button [class]="birthdayButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="showHideBirthday()">
    {{birthdayButton ? 'Hide Birthday' : 'Show Birthday'}}</button>

<button [class]="locationButton ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="showHideLocation()">
    {{locationButton ? 'Hide Location' : 'Show Location'}}</button>

<input type="button" value="Next Profile" class="btn btn-info btn-sm" (click)="refresh()">

<br><br>