<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="margin-left: 25px;">EKCS News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <%if(auth0){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sign-Out</a>
                    </li>
                    <%}else{%>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Sign-In</a>
                        </li>
                        <%}%>


                            <li class="nav-item">
                                <a class="nav-link" href="/news">News</a>
                                <!-- We have purpsely removed the news page link from here. We do not want to show it to the user. The user will auto-redirected to this page once he logs in successfully.-->
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/chat">Chat-Box</a>
                            </li>
            </ul>

        </div>
    </div>
</nav>