<div class="d-grid text-center">
    <div>
        <button class="btn btn-outline-danger btn-sm rounded-3 m-1" (click)="capText()">Capitalize All
            Text</button>

        <button class="btn btn-outline-danger btn-sm rounded-3 m-1" (click)="lowerText()">Lower All Text</button>

        <button class="btn btn-outline-danger btn-sm rounded-3 m-1" (click)="firstCharCap()">First Character
            Capital</button>

        <button class="btn btn-outline-danger btn-sm rounded-3 m-1" (click)="copyText()">Copy Text</button>

        <button class="btn btn-outline-danger btn-sm rounded-3 m-1" (click)="pasteText()">Paste Text</button>

        <div>
            <button class="btn btn-outline-danger btn-sm rounded-3 m-1" (click)="countCharLength()">Character Count
                (+Spaces): <span class="badge bg-primary">{{this.serviceData.characterCount}}</span></button>

            <button class="btn btn-outline-danger btn-sm rounded-3 m-1"
                (click)="countCharWithoutSpacesLength()">Character
                Count
                (-Spaces): <span
                    class="badge bg-primary">{{this.serviceData.characterCountWithoutSpaces}}</span></button>

            <button class="btn btn-outline-danger btn-sm rounded-3 m-1" (click)="countWordLength()">Word
                Count: <span class="badge bg-primary">{{this.serviceData.wordCount}}</span></button>
        </div>

    </div>