<label class="form-label fw-500 text-body mb-1">{{ aiTemplateLabel }}</label>
<div class="tom-select-custom" (click)="selectStyle()">
    <select class="js-select form-select form-select-sm tomselected" autocomplete="off" data-hs-tom-select-options="{
  'placeholder': 'Select',
  'hideSearch': true,
  'searchInDropdown':false
}" id="tomselect-1" tabindex="-1" hidden="hidden">
        <option value="4" selected="true">{{ aiStyleOptionDefault }}</option>
        <option value="">Select</option>

        <option value="1">{{ aiStyleOption1 }}</option>
        <option value="3">{{ aiStyleOption3 }}</option>
        <option value="5">{{ aiStyleOption5 }}</option>
    </select>
    <div
        class="ts-control js-select form-select form-select-sm single plugin-change_listener plugin-hs_smart_position input-hidden">
        <div class="items ts-input full has-items">
            <div data-value="4" class="item">{{ aiStyleOptionDefault }}</div>
        </div>
        <div class="tom-select-custom">
            <div class="ts-dropdown single js-select form-select form-select-sm plugin-change_listener plugin-hs_smart_position"
                style="display: none; visibility: visible; opacity: 1">
                <div role="listbox" id="tomselect-1-ts-dropdown" tabindex="-1" class="ts-dropdown-content">
                    <div data-selectable="" data-value="4" class="option selected active" role="option"
                        id="tomselect-1-opt-1" aria-selected="true">
                        {{ aiStyleOptionDefault }}
                    </div>
                    <div data-selectable="" data-value="1" class="option" role="option" id="tomselect-1-opt-2">
                        {{ aiStyleOption1 }}
                    </div>
                    <div data-selectable="" data-value="3" class="option" role="option" id="tomselect-1-opt-3">
                        {{ aiStyleOption3 }}
                    </div>
                    <div data-selectable="" data-value="5" class="option" role="option" id="tomselect-1-opt-4">
                        {{ aiStyleOption5 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>