/* You can add global styles to this file, and also import other style files */
*{
    margin: 10px;
}

.emp{
    width: 400px;
    margin: 10px auto;
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
}