<app-navbar (backButton)="goBack()"></app-navbar>

<div *ngIf="displayButtons">
  <app-display-buttons class="btn1" (addNew)="addNewEmployee()"
    (checkCurrent)="checkCurrentEmployee()"></app-display-buttons>

  <!-- <button type="button" (click)="addNewEmployee()" class="btn btn-light">Add New Employee</button>
  <button type="button" (click)="checkCurrentEmployee()" class="btn btn-light">Check Current Employee</button> -->
</div>

<app-add-employee (addEmployee)="addNewEmployeeDetails($event)" *ngIf="displayEmpForm"></app-add-employee>

<!-- this.addEmployee.emit(employee); // this will go to $event in the parent -->



<ng-container *ngIf="displayCard">
  <ng-container *ngFor="let empArray of employeeDetails">
    <app-display-employee [empData]="empArray"></app-display-employee>
  </ng-container>
</ng-container>

<div *ngIf="!displayButtons">
  <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm">Back</button>
</div>




<!-- Images: 

https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcQ9Xp-YUVOTsvaf9XhBhvjz1LUoNPSofyNK8bhCmawOuA848AC1zrPP2KHkFAR1csFIxDrsAvjTjmlNvys

https://images.fandango.com/ImageRenderer/300/0/redesign/static/img/default_poster.png/0/images/masterrepository/performer%20images/790688/AdriaArjona.jpg

https://images.entertainment.ie/person/jUGWrJfUwhOQCUEnWR0CVNkNH08.jpg?w=400&q=high

https://plus.unsplash.com/premium_photo-1669782051602-224c77ca121c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80

https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80


-->