.btn1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


.form1{
    width: 600px;
    margin: 20px auto;
}


a{
    cursor: pointer;
}


img{
    height: 200px;
}


button{
    margin: 5px 10px;
    color: white;
    background-color: purple;
}