<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head.ejs') %>
</head>

<body>
    <%- include('./components/header.ejs') %>
        <br>
        <h1 style="margin-left: 25px; margin-top: 25px;">Our Chat Room</h1>

        <h4 style="margin-left: 25px;">Hello, User!</h4>



</body>

</html>