<nav class="navbar navbar-light bg-dark" style="margin-bottom: 20px;">
  <div class="container-fluid ">
    <h3> <a href="https://randomuser.me/" target="_blank" style="color: white;">Random User</a></h3>
    <a class="btn btn-outline-secondary" href="https://randomuser.me/api" target="_blank">View details »</a>
  </div>
</nav>

<!-- <button (click)="getData()" class="btn btn-primary">Get Data</button> -->

<div *ngFor="let apiResults of randomApiData" style="text-align: center;">

  <!-- Show Image -->
  <img [src]="apiResults.picture.large" style="margin: 20px auto; background-color: gray;"
    class="bd-placeholder-img rounded-circle" width="300" height="300" alt="">
  <br>

  <!-- Show Name -->
  <button class="btn btn-outline-secondary" (mouseenter)="showName()" *ngIf="showNameButton">Show Name</button>
  <button class="btn btn-secondary" (mouseleave)="hideName()" *ngIf="hideNameButton">Hide Name</button>

  <!-- Show Email -->
  <button class="btn btn-outline-secondary" (mouseenter)="showEmail()" *ngIf="showEmailButton">Show Email</button>
  <button class="btn btn-secondary" (mouseleave)="hideEmail()" *ngIf="hideEmailButton">Hide Email</button>

  <!-- Show Birthday -->
  <button class="btn btn-outline-secondary" (mouseenter)="showBirthday()" *ngIf="showBirthdayButton">Show
    Birthday</button>
  <button class="btn btn-secondary" (mouseleave)="hideBirthday()" *ngIf="hideBirthdayButton">Hide
    Birthday</button>

  <!-- Show Location -->
  <button class="btn btn-outline-secondary" (mouseenter)="showLocation()" *ngIf="showLocationButton">Show
    Location</button>
  <button class="btn btn-secondary" (mouseleave)="hideLocation()" *ngIf="hideLocationButton">Hide
    Location</button>
  <br><br>




  <div *ngIf="displayName">
    <h1 id="myName" class="fw-normal" style="color: red;">{{apiResults.name.first}} {{apiResults.name.last}}</h1>
  </div>

  <div *ngIf="displayEmail">
    <h4 id="myName" class="fw-normal">{{apiResults.email}}</h4>
  </div>

  <div *ngIf="displayBirthday">
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'short'}}, (Age: {{apiResults.dob.age}})</h5>
    <!-- 1/4/91, 10:46 AM -->
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'long'}}, (Age: {{apiResults.dob.age}})</h5>
    <!-- January 4, 1991 at 10:46:53 AM GMT+5 -->
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'medium'}}, (Age: {{apiResults.dob.age}})</h5>
    <!-- Jan 4, 1991, 10:46:53 AM -->
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'shortDate'}}, (Age: {{apiResults.dob.age}})</h5>
    <!-- 1/4/91 -->
    <h5 id="myName" class="fw-normal">{{apiResults.dob.date | date:'mediumDate'}} | (Age: {{apiResults.dob.age}})</h5>
    <!-- Jan 4, 1991 -->

    <!-- <h5 id="myName" class="fw-normal">{{userBirthday}}, (Age: {{apiResults.dob.age}})</h5> -->
  </div>

  <div *ngIf="displayLocation">
    <h5 id="myName" class="fw-normal">{{apiResults.location.city}}, {{apiResults.location.state}},
      {{apiResults.location.country}}</h5>
  </div>

</div>