<div class="row">
    <div class="col-lg-6 d-inline-flex align-items-center mb-4 mb-lg-0">
        <h4 class="text-body text-black-50 mb-0 mt-lg-4">
            Please select the design themes for your campaign
        </h4>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-md-4 d-inline-flex align-items-center mb-4 mb-lg-0">
                <h4 class="text-body text-black-50 mb-0 mt-lg-4">
                    Select Template Style:
                </h4>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 mb-4 mb-sm-0">
                        <app-ai-style-template></app-ai-style-template>
                    </div>
                    <div class="col-sm-6">
                        <app-ai-theme-template></app-ai-theme-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>