<!-- <button (click)="demoFunction()">Function within ngIf</button> -->

<form *ngIf="displayForm">
    <h2 style="color: red;"><i>ng-if</i></h2>
    <label>Name : </label>
    <input type="text" placeholder="enter your name">
    <br>
    <label for="">Age :</label>
    <input type="text" placeholder="enter your age in years" #userAge>
    <br>
    <button (click)="login(userAge.value)">Click to Login</button>
</form>

<!--This will show when the user is above 13-->
<div *ngIf="ageGreater">
    <h1>Greater than {{validAge}}</h1>
</div>

<!--This will show when the user us below 13-->
<div *ngIf="ageSmaller">
    <h1>Smaller than {{validAge}}</h1>
    <button (click)="editInfo()">Edit your information</button>
</div>

<!--This will show an error incase the age is empty-->
<div *ngIf="ageErrorInput">
    <h1>Error!</h1>
    <button (click)="ageError()">Go Back</button>
</div>


<!-- we can also pass a function in NGIF -->
<div *ngIf="demoFunction()">
    <h2 style="color: red;"><i>Function inside ng-if</i></h2>
    <button (click)="msgDemo()">Testing the Demo Function</button>
</div>