<h2>Routing</h2>

<!-- // simple routing -->
<!-- <a href="myhome">Home</a> -->

<!-- method 2 using the directives -->
<!-- <a routerLink="/myhome">Home</a> -->

<!-- method 3 using as an attribute -->
<!-- <a [routerLink]="['/myhome']">Home</a> -->


<a [routerLink]="''">Home</a> |
<a routerLink="/about">About</a> |
<a routerLink="/products">Products</a> |
<a routerLink="/products/imported">Imported Products</a> |
<a [routerLink]="['/products', 'antiques']">Antiques Products</a> |
<a [routerLink]="['/products', 'italian']">Italian Products</a> |
<a [routerLink]="['/contact']">Contact</a> |
<a [routerLink]="'/resources'">Resources</a>
<br>
<router-outlet></router-outlet>
<br>
<br>

<!-- <button (click)="prevPage()" *ngIf="prevButton">Previous</button>
<button (click)="nextPage()" *ngIf="nextButton">Next</button> -->
<br>
<br>

<!-- we'll now replace the prevButton and nextButton with the hasPrevious and hasNext functions -->
<button (click)="prevPage()" *ngIf="hasPrevious()">Previous</button>
<button (click)="nextPage()" *ngIf="hasNext()">Next</button>


<!-- <h2>{{myroutes[myUrl]}}</h2> -->