<h2 style="color: red;"><i>ng-switch</i></h2>
<div [ngSwitch]="pageNumber">
    <h3>Page Number : {{ pageNumber }}</h3>

    <div *ngSwitchCase="1">
        <h1>Welcome to Home Page</h1>
    </div>

    <div *ngSwitchCase="2">
        <h1>Welcome to About Page</h1>
    </div>

    <div *ngSwitchCase="3">
        <h1>Welcome to Contact Page</h1>
    </div>

    <div *ngSwitchDefault>
        <h1>Error ran out of pages :(</h1>
    </div>
</div>

<button (click)="dec()">Previous Page</button>&nbsp;
<button (click)="inc()">Next Page</button>